<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="fname">First name</label>
        <input
          type="text"
          class="form-control"
          name="fname"
          [(ngModel)]="form.fname"
          required
          #fname="ngModel"
        />
        <div class="alert-danger" *ngIf="fname.errors && f.submitted">
          <div *ngIf="fname.errors.required">First name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lname">Last name</label>
        <input
          type="text"
          class="form-control"
          name="lastname"
          [(ngModel)]="form.lname"
          required
          #lname="ngModel"
        />
        <div class="alert-danger" *ngIf="lname.errors && f.submitted">
          <div *ngIf="lname.errors.required">Last name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          name="phone"
          [(ngModel)]="form.phone"
          required
          #phone="ngModel"
        />
        <div class="alert-danger" *ngIf="phone.errors && f.submitted">
          <div *ngIf="phone.errors.required">Phone is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="university">University</label>
        <input
          type="text"
          class="form-control"
          name="university"
          [(ngModel)]="form.university"
          required
          #university="ngModel"
        />
        <div class="alert-danger" *ngIf="university.errors && f.submitted">
          <div *ngIf="university.errors.required">University is required</div>
        </div>
      </div>

      <div class="form-group">
      <label for="cv">Choose File</label>
      <input type="file"
             class="form-control"
             name="cv"
             id="file"
             [(ngModel)]="form.cv"
             required
             (change)="handleFileInput($event)"
             #cv="ngModel">
        <div class="alert-danger" *ngIf="cv.errors && f.submitted">
          <div *ngIf="cv.errors.required">University is required</div>
        </div>
    </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
